<!DOCTYPE html>
<h1>ToDoリスト</h1><!--ユーザー名-->
<table>
    <thead>
        <tr>
            <th>open</th>
            <th>title</th>
            <th>description</th>
            <th>createdAt</th>
            <th>limitAt</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="t: ${tdlist}">
        <td th:if="${t.Open}" th:onclick="|post(${t.tid})|"><i class="far fa-square"></i></td>
        <td th:unless="${t.Open}" th:onclick="|post(${t.tid})|"><i class="far fa-check-square"></i></td>
        <td> [[${t.title}]]</td>
        <td> [[${t.description}]]</td>
        <td th:text="${#dates.format(t.createdAt, 'yyyy/MM/dd')}"></td>
        <td th:text="${#dates.format(t.limitAt, 'yyyy/MM/dd')}"></td>
        <!-- <td> [[${t.doneAt}]]</td>nullかも if分つける -->
    </tr>
    </tbody>
    <script>
        function post(ttid){
            xhr = new XMLHttpRequest();
            xhr.open('POST', '/todo/update', true);
            xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            // フォームに入力した値をリクエストとして設定
            var request = "tid="+ttid;
            console.log(request);
            xhr.send(request);
        }
    </script>
</table>